{% extends 'authenticated.html' %}
{% block title %}BBB | Change Password{% endblock %}
{% block content %}
	<main class="flex h-screen items-center justify-center text-center text-2xl">
		<form method="post"
			  class="flex flex-col items-center gap-5 rounded-xl border-2 border-neutral-gold p-5 text-neutral-gold">
			{% csrf_token %}
			{% for field in form %}
				<div class="flex flex-col gap-2">
					{{ field.label_tag }}
					{{ field }}
					{{ field.errors }}
				</div>
			{% endfor %}
			<input type="submit" value="Change Password" class="btn btn-primary" aria-label="Change Password">
		</form>
	</main>
{% endblock content %}
