{% extends 'authenticated.html'	%}
{% block title %}BBB | Reset Password{% endblock %}
{% block content %}
	<main class="flex h-screen items-center justify-center text-center text-2xl">
		<form method="post" class="form">
			{% csrf_token %}
			{% for field in form %}
				<div class="flex flex-col gap-2">
					{{ field.label_tag }}
					{{ field }}
					{{ field.errors }}
				</div>
			{% endfor %}
			<input type="submit" value="Reset Password" class="btn btn-primary" aria-label="Reset Password">
		</form>
	</main>
{% endblock content %}
