{% extends 'unauthenticated.html' %}
{% block title %}BBB | Sign Up{% endblock %}
{% block content %}
    <main class="-mt-6 flex h-screen items-center justify-center">
        <form method="post" class="form">
            {% csrf_token %}
            {% for field in form %}
                <div class="flex w-full flex-col gap-2">
                    {{ field.label_tag }}
                    {{ field }}
                    <p class="text-red-400">{{ field.errors }}</p>
                    <small class="text-xs">{{ field.help_text }}</small>
                </div>
            {% endfor %}
            <input type="submit" value="Sign Up" class="btn btn-primary">
        </form>
    </main>
{% endblock content %}
