{% extends 'authenticated.html' %}
{% block title %}
    BBB | Categories
{% endblock title %}
{% block content %}
    <main class="flex flex-wrap items-start justify-around gap-3 p-3">
        <h1 class="w-full text-center text-4xl font-bold">Categories</h1>
        <div class="flex w-full items-center justify-center">
            <a href="{% url 'new_category' %}" class="btn btn-primary">Add new category</a>
        </div>
        {% include 'categories/_table.html' with categories=category_list budget=false %}
    </main>
{% endblock %}
