{% extends 'authenticated.html' %}
{% block content %}
    <main class="flex flex-col gap-3 p-3">
        <a href="{% url 'budgets' %}" class="btn btn-primary self-start">Back to budget list</a>
        {% include 'budgets/_details.html' with budget=budget %}
        {% for category in categories %}
            <details>
                <summary class="mb-3 cursor-pointer rounded-lg bg-neutral-gold p-2 font-bold text-neutral-blue">
                    {{ category.name }}
                </summary>
                {% include 'transactions/_table.html' with transactions=category.transaction_set.all %}
            </details>
        {% endfor %}
    </main>
{% endblock content %}
