{% extends 'authenticated.html' %}
{% block content %}
    <main class="flex h-screen flex-col items-center justify-center gap-3">
        <h1>Hi, {{ user.username }}</h1>
        <div class="flex gap-3">
            <a href="{% url 'transactions' %}" class="btn btn-primary">Transactions</a>
            <a href="{% url 'new_transaction' %}" class="btn btn-primary">+ Add</a>
        </div>
        <div class="flex gap-3">
            <a href="{% url 'budgets' %}" class="btn btn-primary">Budgets</a>
            <a href="{% url 'new_budget' %}" class="btn btn-primary">+ Add</a>
        </div>
        <div class="flex gap-3">
            <a href="{% url 'categories' %}" class="btn btn-primary">Categories</a>
            <a href="{% url 'new_category' %}" class="btn btn-primary">+ Add</a>
        </div>
    </main>
{% endblock content %}
