{% extends 'authenticated.html' %}

{% block title %}BBB | Transactions{% endblock title %}
{% block content %}
    <main class="flex flex-wrap items-start justify-around gap-3 p-3">
        <h1 class="w-full text-center text-4xl font-bold">Transactions</h1>
        <div class="flex w-full items-center justify-center">
            <a href="{% url 'new_transaction' %}" class="btn btn-primary">Add transaction</a>
        </div>
		<table aria-label="Transactions table" class="w-full text-center">
			<thead>
				<tr>
					<th class="text-2xl font-bold">Name</th>
					<th class="text-2xl font-bold">Amount</th>
					<th class="text-2xl font-bold">Category</th>
					<th class="text-2xl font-bold">Date</th>
					<th class="text-2xl font-bold">Delete</th>
				</tr>
			</thead>

			<tbody>
				{% for transaction in transaction_list %}
				<tr class="border-y border-neutral-gold">
					<td class="p-2 text-xl font-bold">{{ transaction.name }}</h2>
					<td>{{ transaction.amount }}円</td>
					<td class="p-2">{{ transaction.category.name }}</td>
					<td class="p-2">{{ transaction.date }}</td>
					<td class="p-2">
						<a href="{% url 'delete_transaction' transaction.id %}" class="btn bg-red-700 text-white">Delete</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
    </main>
{% endblock %}
