{% extends 'authenticated.html' %}
{% block title %}
    BBB | Transactions
{% endblock title %}
{% block content %}
    <main class="flex flex-wrap items-start justify-around gap-3 p-3">
        <h1 class="w-full text-center text-4xl font-bold">Transactions</h1>
        <div class="flex w-full items-center justify-center">
            <a href="{% url 'new_transaction' %}" class="btn btn-primary">Add transaction</a>
        </div>
        <table aria-label="Transactions table" class="w-full text-center">
            <thead>
                <tr>
                    <th class="text-lg font-bold">Name</th>
                    <th class="text-lg font-bold">Amount</th>
                    <th class="text-lg font-bold">Category</th>
                    <th class="text-lg font-bold">Date</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in transaction_list %}
                    <tr class="border-y border-neutral-gold">
                        <td class="p-2 font-bold">{{ transaction.name }}</td>
                        <td>{{ transaction.amount }}円</td>
                        <td class="p-2">{{ transaction.category.name }}</td>
                        <td class="p-2">{{ transaction.date }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock %}
